# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Dart / Flutter
.dart_tool/
.pub-cache/
.pub/
build/
*.freezed.dart

# tests / coverage
coverage/
*.lcov

# environment / local
.env
.env.*
!.env.example
